body {
    background-image: url('drone_at_sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

img {
    margin: 50px;
    width: 500px;
    max-width: 100%;
}

.bt {
    max-width: 100%;
    
}